# FFI Manifest for GNU Readline
#
# NOTE: GNU Readline is licensed under GPL-3.0. Any program linking to it
# must be GPL-compatible. If you need a permissively-licensed alternative,
# use `include ffi:libedit` instead (BSD-licensed, API-compatible).
#
# Installation:
#   macOS: brew install readline
#   Ubuntu/Debian: apt install libreadline-dev
#   Fedora: dnf install readline-devel
#
# Usage:
#   seqc --ffi-manifest readline.toml -o demo demo.seq
#
# Or if you accept GPL licensing for your binary:
#   include ffi:readline  (uses embedded manifest)

[[library]]
name = "readline"
link = "readline"

[[library.function]]
c_name = "readline"
seq_name = "readline"
stack_effect = "( String -- String )"
args = [
  { type = "string", pass = "c_string" }
]
[library.function.return]
type = "string"
ownership = "caller_frees"

[[library.function]]
c_name = "add_history"
seq_name = "add-history"
stack_effect = "( String -- )"
args = [
  { type = "string", pass = "c_string" }
]
[library.function.return]
type = "void"
